@import '~@playkit-js/playkit-js-ui';
@import '../../theme.scss';

.header {
  font-size: 32px;
  font-weight: 500;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

:global(.playkit-size-sm),
:global(.playkit-size-md) {
  .header {
    font-size: 20px;
  }
}

.download-overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  padding: 0 calc(100% / 9);
  overflow-y: auto;

  @include download-scrollbar();
  &:hover::-webkit-scrollbar-track,
  &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  .file-info-list {
    margin: auto;
    margin-top: 25px;
    height: 100%;
    width: 100%;

    .sources-captions-container {
      margin-bottom: 24px;
    }
  }
}

:global(.playkit-player.playkit-size-lg),
:global(.playkit-player.playkit-size-md),
:global(.playkit-player.playkit-size-sm),
:global(.playkit-player.playkit-size-xs),
:global(.playkit-player.playkit-size-ty) {
  :global(.playkit-overlay.playkit-download-overlay) {
    :global(.playkit-close-overlay) {
      top: 15px !important;
      right: 15px !important;
    }

    :global(.playkit-overlay-contents) {
      padding: 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: $tone-1-color;
      text-align: initial;
      overflow-y: initial;
      :global(.playkit-title) {
        margin: 0;
      }
    }
  }
}

:global(.download-overlay-active .playkit-overlay-active .playkit-interactive-area) {
  filter: none !important;
}

:global(.download-overlay-active .playkit-player.playkit-overlay-active .overlay-portal) {
  z-index: 2 !important;
}
