@import '~@playkit-js/playkit-js-ui';

.attachments-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  padding: 4px;

  .attachments-label {
    display: inline-block;
    font-size: 16px;
    color: $tone-1-color;
    font-weight: 700;
    line-height: 21px;
    width: fit-content;
    margin-bottom: 8px;
  }
}
